*.lck
*.class
*.log
logs

out/
.idea/
*.iml
*.ipr
*.iws

*.aux
*.lof
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.dvi
*.xdv
*-converted-to.*
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
_minted*
*.pyg

grammar/output/

.gradle/
build/

gitinspector
gitinspector.py
Grading.html
/src/Guidelines For Releases
/UI Design.pdn
